@model IEnumerable<UserTrackingViewModel>

@{
    ViewData["Title"] = "All my trackings";
}

@section Scripts
    {
    <script src="~/ClientApp/dist/runtime.js"></script>
    <script src="~/ClientApp/dist/polyfills.js"></script>
    <script src="~/ClientApp/dist/styles.js"></script>
    <script src="~/ClientApp/dist/vendor.js"></script>
    <script src="~/ClientApp/dist/main.js"></script>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnlinePresence.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserProfile.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i class="fas fa-@item.UserProfile.AvatarType"></i>&nbsp;
                    @Html.DisplayFor(modelItem => item.UserProfile.UserName)
                </td>
                <td>
                    @if (@item.OnlinePresence.IsActive)
                    {
                        <img src="~/images/online.png" width="20" />
                    }

                    @Html.DisplayFor(modelItem => item.OnlinePresence.Location)

                    @if (@item.OnlinePresence.Location.Length > 0)
                    {
                        <a href="#">Jump to map</a>
                    }
                    </td>
                <td>
                    <img src="@item.UserProfile.ImageUrl" alt="Alternate Text" width="20" />
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>


<p>
    <a asp-action="Create">Add New Tracking</a>
</p>
<br />