@model IEnumerable<FriendsTracker.Data.Entities.UserTracker>

@{
    ViewData["Title"] = "All Trackings";
}

<h2>All Trackings</h2>
<p>@ViewData["data"]</p>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tracker.ApplicationUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tracker.AvatarType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackerCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tracker.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Tracker.ApplicationUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tracker.AvatarType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrackerCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tracker.ImageUrl)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

@if (@ViewData["access"]!= null)
{
    <div>
        <a asp-controller="Profile" asp-action="Index">Add new Tracker</a>
    </div>

}

